* {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}


.navbar-default .navbar-nav {

}

nav li:active {       /* Not working */
  color: #399bd1;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  padding: 11.85rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.jumbotron h1 {
  font-family: 'Monoton', arial;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

.jumbotron p {
  width: 51.3rem;
  font-family: 'Open Sans',
}

button {
  padding: 1.3rem auto;
  width: 11.4rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

button:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.image-container {

}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #399bd1;
}

li {
  line-height: 1.4;
  color: rgba(0,0,0,0.7);
}
