* {
  font-size: 14px;
  font-family: "Open-sans", sans-serif;
}


.navbar-default .navbar-nav {

}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  padding: 11.85rem auto;
}

.jumbotron h1 {
  font-family: "Monoton", arial;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

.image-container {

}
